// banner template

#banner-area{
    .owl-carousel .owl-nav button{
        position: absolute;
        top: 35%;
        outline: none;
    }


    .owl-carousel .owl-nav button.owl-prev{
        left: 0;
    }

    .owl-carousel .owl-nav button.owl-prev span{
        font-size: 100px;
        color: #fff;
        margin-left: 0;
        padding: 0 1rem;
        
    }

    .owl-carousel .owl-nav button.owl-next{
        right: 0;
    }

    .owl-carousel .owl-nav button.owl-next span{
        font-size: 100px;
        color: #fff;
        margin-right: 0;
        padding: 0 1rem;
    }

    
}